<ion-view>
  <ion-content scroll="false">

  <div class="main-intro">

    <header class="header-intro">
      <img src="img/logo-small.svg" height="44" />
    </header>

    <div class="box">
      <strong>Bem vindo a Rua Alecrim!</strong>
      <span>
        Venda suas coisas de maneira fácil, siga amigos e compre coisas legais!
      </span>
    </div>

  </div>

  </ion-content>

  <button class="button button-full button-positive button-explore" ng-click="startApp()">
    Explore
  </button>

</ion-view>
