<ion-view view-title="Login">
    <ion-content class="bg-login">
        <div class="hero">
                <h1>
                  <img src="img/logo-small.svg" width="268"  />
                </h1>
            </div>
        </div>
        <div class="padding">

        <div class="button-bar social-login">
            <button class="button button-small icon-left ion-social-facebook" ng-click="signInFacebook()">Entre usando o facebook</button>
        </div>

        <button class="button button-email" ng-click="openEnterEmail()">Entre usando o e-mail</button>

        </div>
        <span class="division">OU</span>

        <div class="padding">

        <button class="button button-register"  ng-click="openCreateAccount()">Criar uma conta</button>

        </div>

        <!-- <button class="button button-clear" ng-click="startApp()" nav-clear>Entrar sem conta</button> -->

    </ion-content>
</ion-view>