<ion-view view-title="Perfil" animation="slide-left-right">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="$ionicGoBack()">
      <img src="img/icons/icon-backspace.svg" height="20" style="margin-top:4px;" />
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="openModal(4)">
      <img src="img/icons/icon-message.svg" height="22" style="margin-top:6px;"  />
    </button>
  </ion-nav-buttons>



  <ion-content has-header="true">
     <ion-list class="my-account">

      <header class="header-account">

        <img class="avatar" src="img/avatar5.png" width="100" height="100" alt="" />

        <div class="info-profile">
          <div class="item-profile produtos">
            <strong>16</strong>
            <span>PRODUTOS</span>
          </div>
          <div class="item-profile seguindo">
            <strong>161</strong>
            <span>SEGUINDO</span>
          </div>
          <div class="item-profile seguidores">
            <strong>164</strong>
            <span>SEGUIDORES</span>
          </div>
        </div>

        <div class="actions-header">

          <a href="#" class="button button-like liked">
            SEGUINDO
          </a>

          <div class="evaluate">
            <a href="#" title="" class="active">
              <i class="ion-ios-star"></i>
            </a>
            <a href="#" title="" class="active">
              <i class="ion-ios-star"></i>
            </a>
            <a href="#" title="" class="active">
              <i class="ion-ios-star"></i>
            </a>
            <a href="#" title="">
              <i class="ion-ios-star-outline"></i>
            </a>
            <a href="#" title="">
              <i class="ion-ios-star-outline"></i>
            </a>
          </div>

        </div>


      </header>

      <div class="account-content">

          <strong class="title-account">Lojinha do Fulano</strong>

          <small class="location-account">
            <img src="img/icons/icon-pin.svg" height="14" />
            Teresina, PI
          </small>

          <p class="description-account">
            Electram sadipscing et has, eius dissentiunt definitionem has et, verear inermis admodum
          </p>


          <div class="filter">

            <div class="button-bar">
              <a class="button active">Produtos</a>
              <a class="button">Curtiram</a>
            </div>

          </div>



      </div>


       <div class="account-flow">
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product-account">
              <img src="img/bolsinha-retro.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col inactive">
            <a href="#">
              <small class="item-selling">Já foi vendido</small>
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col inactive">
            <a href="#">
              <small class="item-selling">Já foi vendido</small>
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product-account">
              <img src="img/bolsinha-retro.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col inactive">
            <a href="#">
              <small class="item-selling">Já foi vendido</small>
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col inactive">
            <a href="#">
              <small class="item-selling">Já foi vendido</small>
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product-account">
              <img src="img/bolsinha-retro.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col inactive">
            <a href="#">
              <small class="item-selling">Já foi vendido</small>
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col inactive">
            <a href="#">
              <small class="item-selling">Já foi vendido</small>
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product-account">
              <img src="img/bolsinha-retro.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col inactive">
            <a href="#">
              <small class="item-selling">Já foi vendido</small>
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col inactive">
            <a href="#">
              <small class="item-selling">Já foi vendido</small>
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product-account">
              <img src="img/bolsinha-retro.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col inactive">
            <a href="#">
              <small class="item-selling">Já foi vendido</small>
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col inactive">
            <a href="#">
              <small class="item-selling">Já foi vendido</small>
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
