<ion-modal-view>
   <header class="header-login">
    <div class="buttons">
      <button class="button button-clear" ng-click="closeScreenBuy()">
        <img src="img/icons/icon-close-gray.svg" height="14" alt="Timeline" title="Timeline" style="margin:8px" />
      </button>
    </div>
  </header>
  <ion-content scroll="false">

  <div class="screen-buy">

      <img class="img-buy" src="img/img-comprar.jpg" />

      <span class="title-buy">Siga seus amigos para ver o que compram, vendem e gostam.</span>

  </div>

  </ion-content>

  <button class="button button-full button-positive button-explore" ng-click="loginGo()">
    Começar
  </button>

</ion-modal-view>
