<ion-view view-title="Atividade">
  <ion-nav-buttons side="right">
      <button class="button button-clear">
        <img src="img/icons/icon-reload.svg" height="22" alt="Timeline" title="Timeline" style="margin-top:4px;" />
      </button>
  </ion-nav-buttons>
  <ion-content has-header="true" class="activity">

    <ion-list>

      <div class="item main-item">

        <a ui-sref="profile">
          <div class="item item-avatar">
            <img src="img/avatar6.png" height="50">
            <div class="item-info">
              <h2 class="item-name">Bem vindo arthur</h2>
              <small class="item-date">2m</small>
            </div>
            <div class="item-description">
              Seu amigo no facebook agora está na Rua Alecrim
            </div>
          </div>
        </a>

        <a href="#" class="button-like">
          <i class="ion-android-person-add"></i>
        </a>

      </div>

      <div class="item main-item">

        <a ui-sref="profile">
          <div class="item item-avatar">
            <img src="img/avatar6.png" height="50">
            <div class="item-info">
              <h2 class="item-name">Bem vindo arthur</h2>
              <small class="item-date">2m</small>
            </div>
            <div class="item-description">
              Está seguindo a sua lojinha
            </div>
          </div>
        </a>

         <a href="#" class="button-liking">
          <i class="ion-android-person-add"></i>
        </a>

      </div>

      <div class="item main-item">

        <a ui-sref="profile">
          <div class="item item-avatar">
            <img src="img/avatar6.png" height="50">
            <div class="item-info">
              <h2 class="item-name">Bem vindo arthur</h2>
              <small class="item-date">2m</small>
            </div>
            <div class="item-description">
              Postou um novo produto
            </div>
          </div>
        </a>

        <a href="#" class="button-image">
          <img src="img/sapatinhos diversos.jpg" height="50" />
        </a>

      </div>

      <div class="item main-item">

        <a ui-sref="profile">
          <div class="item item-avatar">
            <img src="img/avatar6.png" height="50">
            <div class="item-info">
              <h2 class="item-name">Bem vindo arthur</h2>
              <small class="item-date">2m</small>
            </div>
            <div class="item-description">
              Gostou do seu produto
            </div>
          </div>
        </a>

        <a href="#" class="button-image">
          <img src="img/sapatinhos diversos.jpg" height="50" />
        </a>

      </div>

      <div class="item main-item">

        <a ui-sref="profile">
          <div class="item item-avatar">
            <img src="img/avatar6.png" height="50">
            <div class="item-info">
              <h2 class="item-name">Bem vindo arthur</h2>
              <small class="item-date">2m</small>
            </div>
            <div class="item-description">
              Gostou do seu produto
            </div>
          </div>
        </a>

        <a href="#" class="button-image">
          <img src="img/sapatinhos diversos.jpg" height="50" />
        </a>

      </div>

      <div class="item main-item">

        <a ui-sref="profile">
          <div class="item item-avatar">
            <img src="img/avatar6.png" height="50">
            <div class="item-info">
              <h2 class="item-name">Bem vindo arthur</h2>
              <small class="item-date">2m</small>
            </div>
            <div class="item-description">
              Gostou do seu produto
            </div>
          </div>
        </a>

        <a href="#" class="button-image">
          <img src="img/sapatinhos diversos.jpg" height="50" />
        </a>

      </div>

      <div class="item main-item">

        <a ui-sref="profile">
          <div class="item item-avatar">
            <img src="img/avatar6.png" height="50">
            <div class="item-info">
              <h2 class="item-name">Bem vindo arthur</h2>
              <small class="item-date">2m</small>
            </div>
            <div class="item-description">
              Gostou do seu produto
            </div>
          </div>
        </a>

        <a href="#" class="button-image">
          <img src="img/sapatinhos diversos.jpg" height="50" />
        </a>

      </div>

  </ion-list>
    </ion-content>
</ion-view>
