<ion-view view-title='Explore' animation="slide-left-right">

  <ion-nav-buttons side="right">
    <a class="button button-clear" href="#" ng-click="openSearch()">
      <img src="img/icons/icon-search.svg" height="24" style="margin-top:2px;" />
    </a>
  </ion-nav-buttons>

  <ion-content has-header="true" style="padding-bottom:43px;">

    <div class="item item-input-inset item-search">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Encontre">
      </label>
    </div>

    <div class="item item-suggest">

      <a ui-sref="tab.we-suggest">

        <strong>Recomendamos para você</strong>
        <small>Veja algumas sugestões de perfis</small>

        <div class="image-suggest">
          <img src="img/avatar5.png" width="42" height="42" class="avatar-suggest" />
          <img src="img/avatar2.png" width="42" height="42" class="avatar-suggest" />
          <img src="img/avatar4.png" width="42" height="42" class="avatar-suggest" />
        </div>

      </a>

    </div>

    <ion-list>

      <div class="explore-flow">
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/amigo-urso.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/amigo-urso.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/amigo-urso.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/amigo-urso.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/amigo-urso.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/amigo-urso.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/amigo-urso.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
          <div class="col">
            <a ui-sref="tab.product">
              <img src="img/carrinho-com-capa2.jpg" width="100%" height="120" />
            </a>
          </div>
        </div>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
